*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header{
    background-color: white;
    height: 60px;
    line-height: 60px;
  }

  .clearfix::after{
    content: "";
    display: table;
    clear: both;
  }

  #logo{
    vertical-align: middle;
  }

  nav{
    display: inline-block;
  }
  
  nav ul li {
    display: inline-block;
    list-style-type: none;
  }
  
  nav ul li a{
    text-decoration: none;
    padding: 10px;
  }

  .left{
      float: left;
  }

  .right{
    float: right;
}
  